<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-2">
      <div class="list-group listGroupStyle">
        <div *ngFor="let allProject of allProjects" (click)="selectCurrentProject(allProject)" class="list-group-item listStyle pointerStyle" [ngClass]="{'clickedClass': isActive(allProject) }">
          <h3 class="text-center"><strong>{{allProject?.projectTitle}}</strong></h3>
          <button *ngIf="showStory && isActive(allProject) && allProject.projectStory.length > 0" (click)="showStory = false" type="button" class="btn btn-info waves-light btn-block btn-sm" mdbRippleRadius>Hide Story</button>
          <button *ngIf="!showStory && isActive(allProject) && allProject.projectStory.length > 0" (click)="showStory = true" type="button" class="btn btn-info waves-light btn-block btn-sm" mdbRippleRadius>Story</button>
          <button *ngIf="showAdd && isActive(allProject)" (click)="updateDisplay(false, false)" type="button" class="btn btn-success waves-light btn-block btn-sm" mdbRippleRadius>Hide Add</button>
          <button *ngIf="!showAdd && isActive(allProject)" (click)="updateDisplay(false, true)" type="button" class="btn btn-success waves-light btn-block btn-sm" mdbRippleRadius>Add</button>
          <button *ngIf="showUpdate && isActive(allProject)" (click)="updateDisplay(false, false)" type="button" class="btn btn-warning waves-light btn-block btn-sm" mdbRippleRadius>Hide Update</button>
          <button *ngIf="!showUpdate && isActive(allProject)" (click)="updateDisplay(true, false)" type="button" class="btn btn-warning waves-light btn-block btn-sm" mdbRippleRadius>Update</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div *ngIf="currentProjects.length === 0 ">
        <div class="card defaultCardStyle text-center">
          <h1>Select A Project On The Left</h1>
        </div>
      </div>
      <div *ngIf="currentProjects.length > 0">
        <div *ngFor="let project of currentProjects; let i = index">
          <div class="card defaultCardStyle">
            <h1 class="text-center"><strong>{{project?.projectTitle}}</strong></h1>
            <h4 class="text-center"><strong>{{project?.projectDescription}}</strong></h4>
            <div *ngIf="showUpdate">
              <div class="text-center">
                <button type="button" class="btn btn-danger waves-light btn-sm" (click)="showDeleteProj = true">Delete Project</button>
                <div *ngIf="showDeleteProj" class="alert alert-danger">
                  <h5>Are you sure you want to delete {{project?.projectTitle}}?</h5>
                  <button class="btn btn-danger waves-light btn-sm" (click)="deleteProject(project)">Yes, Delete {{project?.projectTitle}}</button>
                  <button class="btn btn-warning waves-light btn-sm" (click)="showDeleteProj = false">Cancel</button>
                </div>
              </div>
              <form #newProjTitle="ngForm">
                <div class="md-form">
                    <input type="text" id="newProjTitle" class="form-control" mdbActive name="newProjTitle" ngModel>
                    <label for="newProjTitle">Update Project Title:</label>
                </div>
                <div class="md-form">
                    <textarea type="text" id="newProjDescription" class="form-control" mdbActive name="newProjDescription" ngModel></textarea>
                    <label for="newProjDescription">Update Project Description:</label>
                    <button type="button" class="btn btn-warning waves-light btn-sm" mdbRippleRadius (click)="updateProjTitle(i, newProjTitle)">Update Project Title/Description</button>
                </div>
              </form>
            </div>
            <div class="text-center">
                <button *ngIf="!showUpdate && showAdd" type="button" class="btn btn-outline-indigo btn-sm" mdbRippleRadius (click)="showFeatureForm()">Add Feature</button>
                <button *ngIf="!showUpdate && showAdd" type="button" class="btn btn-outline-info waves-light btn-sm" mdbRippleRadius (click)="showStoryFrm()">Add Story</button>
            </div>
            <div *ngIf="showFeatForm && !showUpdate && showAdd">
              <form #newProjFeat="ngForm">
                <div class="md-form">
                    <input type="text" id="newFeatTitle" class="form-control" mdbActive name="newFeatTitle" ngModel>
                    <label for="newFeatTitle">Enter Feature Title:</label>
                </div>
                <div class="md-form">
                    <textarea type="text" id="newFeatDescription" class="form-control" mdbActive name="newFeatDescription" ngModel></textarea>
                    <label for="newFeatDescription">Enter Feature Description:</label>
                    <button type="button" (click)="showFeatForm = false" class="btn btn-danger btn-rounded btn-sm" mdbRippleRadius>Cancel</button>
                    <button type="button" class="btn btn-deep-purple waves-light btn-sm" mdbRippleRadius (click)="addProjFeature(i, newProjFeat)">Add Project Feature</button>
                </div>
              </form>
            </div>
            <div *ngIf="showStoryForm && !showUpdate && showAdd">
              <form #newProjStory="ngForm">
                <div class="md-form">
                    <input type="text" id="newStoryTitle" class="form-control" mdbActive name="newStoryTitle" ngModel>
                    <label for="newStoryTitle">Enter Story Title:</label>
                </div>
                <div class="md-form">
                    <button type="button" (click)="showStoryForm = false" class="btn btn-danger btn-rounded btn-sm" mdbRippleRadius>Cancel</button>
                    <button type="button" class="btn btn-deep-purple waves-light btn-sm" mdbRippleRadius (click)="addProjStory(i, newProjStory)">Add Project Story</button>
                </div>
              </form>
            </div>
            <ul *ngFor="let projectTask of project.projectTask; let j = index">
              <li class="pointerStyle" *ngIf="!projectTask.taskCompleted" (click)="updateProjTask(i, j, true)">
                <h5>{{projectTask?.taskTitle}}<button *ngIf="showUpdate" type="button" class="btn btn-outline-danger waves-light btn-sm" mdbRippleRadius (click)="deleteProjTask(project, projectTask, i, j)">Delete Task</button></h5>
                <h6>{{projectTask?.taskDescription}}</h6>
              </li>
              <li class="pointerStyle" *ngIf="projectTask.taskCompleted" (click)="updateProjTask(i, j, false)">
                <h5><del>{{projectTask?.taskTitle}}</del><button *ngIf="showUpdate" type="button" class="btn btn-outline-danger waves-light btn-sm" mdbRippleRadius (click)="deleteProjTask(project, projectTask, i, j)">Delete Task</button></h5>
                <h6><del>{{projectTask?.taskDescription}}</del></h6>
              </li>
            </ul>
            <div>
                <button *ngIf="!showUpdate && showAdd" type="button" class="btn btn-outline-success btn-sm addFeatTaskBtn" mdbRippleRadius (click)="showProjTaskForm = !showProjTaskForm">Add General Task</button>
            </div>
            <div *ngIf="showProjTaskForm && !showUpdate && showAdd">
              <form #newProjTask="ngForm">
                <div class="md-form">
                    <input type="text" id="newProjTaskTitle" class="form-control" mdbActive name="newProjTaskTitle" ngModel>
                    <label for="newProjTaskTitle">Enter Task Title:</label>
                </div>
                <div class="md-form">
                    <textarea type="text" id="newProjTaskDescription" class="form-control" mdbActive name="newProjTaskDescription" ngModel></textarea>
                    <label for="newProjTaskDescription">Enter Task Description:</label>
                    <button type="button" (click)="showProjTaskForm = false" class="btn btn-danger btn-rounded btn-sm" mdbRippleRadius>Cancel</button>
                    <button type="button" class="btn btn-deep-purple waves-light btn-sm" mdbRippleRadius (click)="addProjTask(i, newProjTask)">Add Project Task</button>
                </div>
              </form>
            </div>
            <hr />
            <div *ngFor="let projectFeature of project.projectFeature; let k = index">
              <h4 class="text-center"><strong>{{projectFeature?.featureTitle}}</strong></h4>
              <h6 class="text-center"><strong>{{projectFeature?.featureDescription}}</strong></h6>
              <div *ngIf="showUpdate">
                <div class="text-center">
                  <button type="button" (click)="projectFeature.showDelete = true" class="btn btn-danger btn-sm" mdbRippleRadius>Delete Feature</button>
                  <div *ngIf="projectFeature.showDelete" class="alert alert-danger">
                    <h5>Are you sure you want to delete feature {{projectFeature?.featureTitle}}?</h5>
                    <button class="btn btn-danger waves-light btn-sm" (click)="deleteFeature(project, projectFeature, i, k)">Yes, Delete {{projectFeature?.featuretitle}}</button>
                    <button class="btn btn-warning waves-light btn-sm" (click)="projectFeature.showDelete = false">Cancel</button>
                  </div>
                </div>
                <form #updateProjFeature="ngForm">
                  <div class="md-form">
                      <input type="text" id="upFeatureTitle" class="form-control" mdbActive name="upFeatureTitle" ngModel>
                      <label for="upFeatureTitle">Update Feature Title:</label>
                  </div>
                  <div class="md-form">
                      <textarea type="text" id="upFeatureDescription" class="form-control" mdbActive name="upFeatureDescription" ngModel></textarea>
                      <label for="upFeatureDescription">Update Feature Description:</label>
                      <button type="button" class="btn btn-warning waves-light btn-sm" mdbRippleRadius (click)="updateFeature(i, k, updateProjFeature)">Update Feature Title/Description</button>
                  </div>
                </form>
              </div>
              <ul *ngFor="let featureTask of projectFeature.featureTask; let m = index">
                <li class="pointerStyle" *ngIf="!featureTask.featureTaskCompleted" (click)="updateFeatureTask(i, k, m, true)">
                  <h5>{{featureTask?.featureTaskTitle}} <button *ngIf="showUpdate" type="button" class="btn btn-outline-danger waves-light btn-sm" mdbRippleRadius (click)="deleteFeatureTask(project, projectFeature, featureTask, i, k, m)">Delete Task</button></h5>
                  <h6>{{featureTask?.featureTaskDescription}}</h6>
                </li>
                <li class="pointerStyle" *ngIf="featureTask.featureTaskCompleted" (click)="updateFeatureTask(i, k, m, false)">
                  <h5><del>{{featureTask?.featureTaskTitle}}</del> <button *ngIf="showUpdate" type="button" class="btn btn-outline-danger waves-light btn-sm" mdbRippleRadius (click)="deleteFeatureTask(project, projectFeature, featureTask, i, k, m)">Delete Task</button></h5>
                  <h6><del>{{featureTask?.featureTaskDescription}}</del></h6>
                </li>
              </ul>
              <button *ngIf="!showUpdate && showAdd" type="button" class="btn btn-outline-success btn-sm addFeatTaskBtn" mdbRippleRadius (click)="addFeatTaskForm(projectFeature)">Add Task</button>
              <div *ngIf="projectFeature.addTask && !showUpdate && showAdd">
                <form #newFeatTask="ngForm">
                  <div class="md-form">
                      <input type="text" id="newFeatureTaskTitle" class="form-control" mdbActive name="newFeatureTaskTitle" ngModel>
                      <label for="newFeatureTaskTitle">Enter Task Title:</label>
                  </div>
                  <div class="md-form">
                      <textarea type="text" id="newFeatureTaskDescription" class="form-control" mdbActive name="newFeatureTaskDescription" ngModel></textarea>
                      <label for="newFeatureTaskDescription">Enter Task Description:</label>
                      <button type="button" (click)="cancelAddTask(projectFeature)" class="btn btn-danger btn-rounded btn-sm" mdbRippleRadius>Cancel</button>
                      <button type="button" class="btn btn-deep-purple waves-light btn-sm" mdbRippleRadius (click)="addFeatureTask(i, k, newFeatTask)">Add Feature Task</button>
                  </div>
                </form>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div *ngIf="showStory">
        <div *ngFor="let project of currentProjects; let p = index">
          <div class="card storyCardStyle" *ngFor="let story of project.projectStory; let s = index">
            <h1 class="text-center">{{story?.storyTitle}}</h1>
            <div class="text-center">
              <button *ngIf="!showUpdate && showAdd" type="button" (click)="addStoryStep(story)" class="btn btn-outline-light-blue btn-sm" mdbRippleRadius>Add Step</button>
              <button *ngIf="showUpdate" type="button" (click)="story.showDelete = true" class="btn btn-danger btn-sm" mdbRippleRadius>Delete Story</button>
            </div>
            <div *ngIf="story.showDelete" class="alert alert-danger">
              <h5>Are you sure you want to delete story {{story?.storyTitle}}?</h5>
              <button class="btn btn-danger waves-light btn-sm" (click)="deleteStory(project, story, p, s)">Yes, Delete {{story?.storyTitle}}</button>
              <button class="btn btn-warning waves-light btn-sm" (click)="story.showDelete = false">Cancel</button>
            </div>
            <div *ngIf="story.showAddStep && !showUpdate">
              <form #newStep="ngForm">
                <div class="md-form">
                    <input type="number" id="newStoryOrder" mdbActive class="form-control" name="newStoryOrder" [(ngModel)]="defaultStepOrder"/>
                    <label for="newStoryOrder">Step Order-</label>
                </div>
                <div class="md-form">
                    <textarea type="text" id="newStoryStep" class="form-control" mdbActive name="newStoryStep" ngModel></textarea>
                    <label for="newStoryStep">Enter Story Step:</label>
                    <button type="button" (click)="story.showAddStep = false" class="btn btn-danger btn-rounded btn-sm" mdbRippleRadius>Cancel</button>
                    <button type="button" class="btn btn-deep-purple waves-light btn-sm" mdbRippleRadius (click)="submitStoryStep(project, story, newStep)">Add Story Step</button>
                </div>
              </form>
            </div>
            <ul>
              <div *ngFor="let storyStep of story.storyStep; let q = index">
                <h5><strong>{{storyStep?.order}}.)</strong> {{storyStep?.storyInfo}}<button *ngIf="showUpdate" type="button" class="btn btn-outline-danger waves-light btn-sm" mdbRippleRadius (click)="deleteStoryStep(project, story, storyStep, p, s, q)">Delete Step</button></h5>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
