.defaultCardStyle{
  padding: 15px;
  margin-top: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.projectCardStyle {
  padding: 15px;
  border-style: solid;
  border-color: rgb(141,172,166);
  border-width: 2px;
}

.featureCardStyle {
  padding: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(16,100,102);
  margin-bottom: 10px;
}

.breakStyle {
  border-color: black;
  border-width: 5px;
}

.projectTaskHead {
  color: rgb(0,62,83);
}
.featureHead {
  color: rgb(4,57,195);
}
.featureTaskHead {
  color: rgb(16,100,102);
}

.showStoryStyle {
  text-align: center;

}
.createProjCardStyle {
  margin-top: 0px;
}
.listStyle {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin: 0px;
  padding: 15px;
  margin-top: 15px;
  cursor: pointer;
  color: rgb(228,0,15);
}

.listStyle:hover {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(228,188,54);
  background: rgb(0,62,83);
  color: rgb(210,233,225);
}

.createProjBtnCardStyle {
  margin-top: 15px;
}
