<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-dark scrolling-navbar ie-nav" [containerInside]="false">
    <logo>
        <a class="logo navbar-brand" routerLink="/dashboard"><strong>Code Manager</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Home</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Features</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Pricing</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link">Opinions</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </links>
</mdb-navbar>
