<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card defaultCardStyle">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <h3 class="text-center"><strong>Sign In</strong></h3>

          <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="text" id="email" class="form-control" mdbActive name="email" ngModel>
              <label for="email">Your email</label>
          </div>

          <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <input type="password" id="password" class="form-control" mdbActive name="password" ngModel>
              <label for="password">Your password</label>
          </div>

          <div class="text-center">
              <button class="btn btn-default waves-light" mdbRippleRadius>Login</button>
          </div>
      </form>
      <a routerLink="/createuser">Create Account</a>
    </div>
    </div>
  </div>
</div>
