<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-indigo waves-light" mdbRippleRadius routerLink="/createproject">Add Project</button>
      <button type="button" class="btn btn-indigo waves-light" mdbRippleRadius routerLink="/viewallprojects">View Projects</button>
      <button type="button" class="btn btn-indigo waves-light" mdbRippleRadius routerLink="/goalsview">Goals</button>
      <button type="button" class="btn btn-indigo waves-light" mdbRippleRadius routerLink="/sessionview">Sessions</button>
    </div>
  </div>
</div>
